
 @tailwind components;

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

.vs-button.btn-not-color {background: transparent !important;color: #333;}
.router-content {position: relative;right: 25px;;}
.po-ab {position: absolute; top: 0;right: 0;;}
